@function get-breakpoint($canvas) {
  $rtn: 0;
  @if $canvas == tablet {
    $rtn: $tablet;
  } @else if $canvas == desktop {
    $rtn: $desktop;
  }
  @return $rtn;
}

@mixin media-query($canvas) {
  @media all and (min-width: get-breakpoint($canvas)) {
    @content;
  }
}

//gold top border mixin
@mixin gold-top-border() {
  &:before {
    background: url('../img/gold-border.png');
    background-size: contain;
    content: '';
    display: block;
    height: 8px;
  }
}
