.nowrap {
	white-space: nowrap;
}

.tablet {
	display: none;

	@include media-query(tablet) {
		display: block;
	}
}

.desktop {
	display: none;

	@include media-query(desktop) {
		display: block;
	}
}

.lowercase {
	text-transform: lowercase;
}

.clear {
	clear: both;
}

.light-blue {
	color: #26cad3;
}

.mq {
	display: none;
	width: 1px;

	@media (min-width: 640px) {
		width: 2px;
	}

	@media (min-width: 960px) {
		width: 3px;
	}
}
