// Breakpoints

$mobile: 0;         // Mobile begins here
$tablet: 768px;       // Tablet begins here
$desktop: 980px;     // Desktop begins here

// Font stacks

$font-base: 200;
$font-med: 500;
$font-black: 900;


// Color palettes

$blue: #0047ba;
$green: #658d1b;
